doctype html
html
    head
        title Title
        if userExternalStyles
            link(rel="stylesheet", href="/build/application.css")


    body
        h1 heippa
        script(src="/build/vendor.js")
        script(src="/build/application.js")
